<!doctype html>
<html lang="ar" dir="rtl">
<head>
<meta charset="utf-8">
<title>برنامج علاوات وترقيات محطة الشهيد علي سبع</title>
</head>
<body>
<h3>تسجيل الدخول</h3>

<form method="post">
  <input name="emp_no" placeholder="الرقم الوظيفي" required><br><br>
  <input type="password" name="password" placeholder="كلمة المرور" required><br><br>
  <button>دخول</button>
</form>

<p style="color:red;">{{ get_flashed_messages()[0] if get_flashed_messages() }}</p>

<p>تصميم حسين التميمي</p>
</body>
</html>
